/* Andy Bell's Modern CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Personal Additions to complete FE mentor challenge */

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --desat-blue: hsl(224, 23%, 55%);
    --very-pale-blue: hsl(225, 100%, 98%);
}

body {
    background-image: url(./images/pattern-background-mobile.svg);
    background-size: contain;  
    background-color: var(--pale-blue); 
    background-repeat: repeat-x;
    background-position: top;

    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

}

main {
   /* 20em is the desired component width on mobile devices */
    margin: 1em;   
    max-width: 20em;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0 1em .5em var(--desat-blue);
}

.order-container {
  width: 100%;
  padding: 2em 2em 1em;  
}

.summary-hero img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.summary-title, .summary-tagline {
    text-align: center;
}

.summary-title {
    font-weight: 900;
    margin-bottom: .5em;
}

.summary-tagline {
    font-weight: 500;
    opacity: 60%; 
}

.summary-change-plan {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(224, 232, 255, .25);     
}

.summary-change-plan img {
  margin-right: 1.5em;
} 

.plan-info {
    display: flex;
    flex-direction: column;
}

.plan-name {
    font-size: 1em;
    font-weight: 700;
}

.plan-price {
    font-size: .8em;
    opacity: 60%;
}

.summary-change-plan a {
    margin-left: 4em;
    font-size: .8em;
    text-decoration: underline;
}

.summary-change-plan a:hover {
  text-decoration: none;
  color: var(--desat-blue);
}

.summary-close {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.proceed {
  width: 100%;
  padding: 1em;
  color: white;
  font-weight: 700;
  background-color: var(--bright-blue);
  border-radius: .5em;
  text-align: center;
  box-shadow: 0 .75em .5em var(--pale-blue);
}

.proceed:hover {
  background-color: var(--bright-blue);
  opacity: 65%;
}

.cancel {
  margin-top: 1em;
  font-weight: 700;
  color: black;
  opacity: 60%;
}

.cancel:hover {
  font-weight: 900;
  opacity: 100%;
}

a {
  text-decoration: inherit;
  font-size: 11px;
}

.attribution {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: .5 auto; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* sets background image to the desktop version on screens 400px or larger */

@media only screen and (min-width: 425px) {

 body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-position: top;
 }

 main {
  max-width: 24em;
 }q

 .order-container {
  max-width: 500px;
 }

 
}